<h1>Tasks#show</h1>

<%if @task.previous%>
   <%= link_to "< Previous", @task.previous%>
<%end%>
<% if @task.next%>
   <%= link_to "Next >", @task.next%>
 <%end%>


<div class="flash"><%= flash[:notice] %></div>
<p><%= @task.name %></br>
<%= @task.start_time %></br> 
<%= @task.hour %></br>
<%= @task.place %></br>
<%= @task.description %></p>

	<%if @task.place.empty? %> 
		<p>  </p>
	<%else%>
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@task.latitude}%2C#{@task.longitude}" %></br>
	<%end%>


<%= link_to "Edit" , edit_task_path %></br>
<%= link_to "Delete", delete_task_path(@task.id), data: {confirm: "Are you sure you  want to delete this task?"}%></br>
<%= link_to "Agenda" , root_path %></br>
<%= link_to "New event" , tasks_new_path %></br>
